main/default/flows/TEst_Issue_Analysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Issue_Analysis2</name>
        <label>Issue Analysis2</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <actionName>pharos__Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>issueIds</name>
            <value>
                <elementReference>GetIssueIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GetIssueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Test_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TEst Issue Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEst Issue Analysis</label>
    <loops>
        <name>Test_Loop</name>
        <label>Test Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Issues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Issue_Analysis2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Issues</name>
        <label>Get Issues</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pharos__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <filters>
            <field>pharos__Functional_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pharos__Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Issues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pharos__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <filters>
            <field>pharos__Functional_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <object>pharos__Issue__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetIssueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
